    /* Header Bar Styles */
    .header-bar {
      position: absolute; /* Ensures it stays at the top of the page, not fixed on the screen */
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
      background-color: #3b3b3b00;
      color: var(--text-color);
      z-index: 1000; /* Ensures it stays above other content */
      transition: background-color 0.3s ease, color 0.3s ease;
      margin-bottom: 50px;
    }
    
    .header-link {
      color: #4e4e4e;
      font-size: 20px;
      text-decoration: none;
      font-weight: bold;
      margin-left: 10px;
    }

    .header-link:hover {
      color: #757575;
    }

    /* Dropdown menu styles */
    .dropdown {
      position: relative;
    }

    .dropbtn {
      background-color: #505050ec;
      color: white;
      padding: 8px 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin-right: 15px;
    }

    .dropbtn:hover {
      background-color: #333;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: #1d1d1d;
      border: 1px solid #535353;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      z-index: 1001;
      min-width: 220px;
      max-height: 380px; /* Set a maximum height for the dropdown */
      overflow-y: auto; /* Enable vertical scrolling */
      padding: 10px 0;
    }

    .dropdown-content a {
      color: white;
      text-decoration: none;
      padding: 8px 16px;
      display: block;
      font-size: 14px;
    }

    .dropdown-content a:hover {
      background-color: #535353;
    }

    .dropdown.show .dropdown-content {
      display: block;
    }