/* Header Bar Styles */
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #00000000;
    color: var(--text-color);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays on top */
    transition: grey 0.3s ease, color 0.3s ease;
  }
  
  .header-link {
    color: #4e4e4e;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .header-link:hover {
    color: #757575;
  }
  
  /* Dropdown menu styles */
  .dropdown {
    position: relative;
  }
  
  .dropbtn {
    background-color: #505050;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .dropbtn:hover {
    background-color: #333;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #1d1d1d;
    border: 1px solid #535353;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    min-width: 220px;
    max-height: 380px; /* Set a maximum height for the dropdown */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px 0;
  }
  
  .dropdown-content a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    font-size: 14px;
  }
  
  .dropdown-content a:hover {
    background-color: #535353;
  }
  
  .dropdown.show .dropdown-content {
    display: block;
  }

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: #fff;
    margin: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
    color: #f1c40f;
}

.time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.country-time {
    font-size: 1.5em;
    padding: 10px;
    border-radius: 8px;
    background: #222;
    width: 350px;
    text-align: center;
}

footer {
    position: relative;
    bottom: 4px;
    font-size: 1rem;
    color: #464646;
    text-align: center;
    margin-top: 50px;
}

.footer-link {
  color: orange;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline; /* Optional: Add underline on hover for better user feedback */
}